# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Editor text
*.swp
*~

# Build
*.la
*.lo
*.libs
example/server

# Test
*.pyc
